// For format details, see https://aka.ms/devcontainer.json. For config options, see the README at:
// https://github.com/microsoft/vscode-dev-containers/tree/v0.154.0/containers/ruby-rails
{
	"name": "Ruby on Rails",
	"dockerComposeFile": "docker-compose.yml",
	"service": "app",
	"workspaceFolder": "/<%= @app_name %>",
	"shutdownAction": "stopCompose",
	// Set *default* container specific settings.json values on container create.
	"settings": {},
	// Add the IDs of extensions you want installed when the container is created.
	"extensions": [
		"rebornix.Ruby",
		"kaiwood.endwise",
		"castwide.solargraph",
		"sleistner.vscode-fileutils",
		"rubymaniac.vscode-paste-and-indent",
		"heybourn.headwind",
		"GitLab.gitlab-workflow",
		"mrmlnc.vscode-duplicate",
		"aliariff.vscode-erb-beautify",
		"esbenp.prettier-vscode",
		"bradlc.vscode-tailwindcss",
		"bung87.rails@0.17.7",
		"aki77.rails-routes",
		"shanehofstetter.rails-i18n",
		"aki77.rails-partial",
		"shanehofstetter.rails-open-partial",
		"samverschueren.final-newline",
		"bung87.vscode-gemfile",
		"austenc.tailwind-docs",
		"bourhaouta.tailwindshades",
		"formulahendry.auto-close-tag@0.5.12",
		"hbenl.vscode-test-explorer",
		"connorshea.vscode-ruby-test-adapter",
	],
	// Use 'forwardPorts' to make a list of ports inside the container available locally.
	"forwardPorts": [],
	// Use 'postCreateCommand' to run commands after the container is created.
	"postCreateCommand": "bin/setup",
	// Comment out connect as root instead. More info: https://aka.ms/vscode-remote/containers/non-root.
	"remoteUser": "vscode",
	"remoteEnv": {
		"EDITOR": "code --wait"
	}
}
