default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: <%= @app_name %>_development
  host: <%%= ENV['DATABASE_HOST'] || 'localhost' %>
  username: <%%= ENV['DATABASE_USER'] || '' %>
  password: <%%= ENV['DATABASE_PASSWORD'] || '' %>

test:
  <<: *default
  database: <%= @app_name %>_test
  host: <%%= ENV['DATABASE_HOST'] || 'localhost' %>
  username: <%%= ENV['DATABASE_USER'] || '' %>
  password: <%%= ENV['DATABASE_PASSWORD'] || 'testing-password' %>

review:
  <<: *default
  database: <%%= ENV['DATABASE_NAME'] || '' %>
  host: <%%= ENV['DATABASE_HOST'] || 'postgres' %>
  port: <%%= ENV['DATABASE_PORT'] || '5432' %>
  username: <%%= ENV['DATABASE_USER'] || 'user' %>
  password: <%%= ENV['DATABASE_PASSWORD'] || 'testing-password' %>

production:
  <<: *default
  database: <%%= ENV['DATABASE_NAME'] %>
  host: <%%= ENV['DATABASE_HOST'] || 'localhost' %>
  port: <%%= ENV['DATABASE_PORT'] || '5432' %>
  username: <%%= ENV['DATABASE_USER'] %>
  password: <%%= ENV['DATABASE_PASSWORD'] %>
