# version: '3.8'

services:
  web:
    image: ${CI_APPLICATION_REPOSITORY}:${CI_APPLICATION_TAG}
    environment:
      - DATABASE_HOST
      - DATABASE_USER
      - DATABASE_PASSWORD
      - DATABASE_PORT
      - DATABASE_NAME
      - SENTRY_DSN
      - RAILS_ENV
      - RAILS_MASTER_KEY
      - REDIS_URL
<%- if @postmark -%>
      - POSTMARK_SERVER_TOKEN
<%- end -%>
      - MAILER_HOST
    command: bin/puma -C config/puma.rb
